* {
    font-family: 'IBM Plex Mono', monospace;
}

/* inspired form gumroad website */
.button {
    --bg: #000;
    --hover-bg: #0a579b;
    --hover-text: #fff;
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh auto;
  }
  
  .button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  
  .button:active {
    transform: translate(0);
    box-shadow: none;
  }
  


#body-id {
     display: none; 
}

#pass-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh 0;
}

/* payment */
.payment {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20vh 0;
}

.pay-img {
    width: auto;
    max-width: 300px;
    margin: auto;
}

#screenshot {
    width: 100%;
    /* Make the image fill its container */
    height: auto;
    /* Maintain the aspect ratio */
    display: block;
}

.input1 {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
}

.input1::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
}

.input1:focus {
    border: 2px solid var(--input-focus);
}


#nav-img {
    width: 100px;
}

#nav-txt {
    text-align: center;
    margin: auto;
}

#admin-img {
    width: 20px;
    height: 20px;
}

.navbar {
    padding: 0 5vw;
    background-color: transparent;
    border: 2px solid #fed201;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dropdown {
    margin: 5vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.txt-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;
    margin: 2vh 2vw;
}

.txt-desc {
    margin: auto 5vw;
}

.txt-headings {
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
    width: 100vw;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
}

.team-div{
    width: 100vw;
}

/* Accommodation */
.accommodation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15vh 0;
}